# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/
*.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Vectorstore (local cache files)
vectorstore/

# PDF cache or temp files
data/*.DS_Store
data/*.pdf~

# Output artifacts
*.pkl

vectorstore/spam_*.pkl
.env
